# Introduction to Python

## Variables

Variables are named values.

In [ ]:
a = 4

Read this as:

> "a" gets the value 4.

In [ ]:
b = 6

> "b" gets the value 6.

In [ ]:
a + b

You can also *update* variables, as in:

In [ ]:
a = a + 2
a

So far we've seen numbers as values, but we can also have bits of text called
*strings*.  Strings are bits of text between quotes.

In [ ]:
a = "Python"
c = "MATLAB"
z = " > "

You have seen adding numbers.  We can also add strings.  This as the effect of
sticking them together — *concatenating* the strings:

In [ ]:
a + z + c

Strings can have apostrophes (`'`) or inverted commas (`"`) at either end,
Python accepts either.

In [ ]:
first = 'a string'
second = "b string"
first + second

You can even use triple apostrophes or inverted commas at either end; this is
useful for when you want to put a new line inside your string:

In [ ]:
many_line_string = """
This string
has
several
lines
"""
print(many_line_string)

Length of a string:

In [ ]:
len(first)

Strings and numbers are different:

In [ ]:
number = "9"
number + 6

We can convert between numbers and strings:

In [ ]:
int(number) + 6
str(9)

However ...

In [ ]:
number = "nine"
int(number)

## Lists

In [ ]:
an_empty_list = []
list_with_two_items = [1, 2]
items_can_be_diverse = [1, "Obama", 4.55]

In [ ]:
example_list = []
example_list.append("experiment1")
example_list

In [ ]:
example_list[0]

The length of a list (or any object that can have a length):

In [ ]:
len(example_list)

In [ ]:
example_list.append("failed_experiment")
print(example_list)
example_list.append("failed_experiment")
print(example_list)

In [ ]:
example_list.pop()

In [ ]:
example_list

In [ ]:
del example_list[0]
example_list

`range` in returns a “range object”.  It’s like a list, but isn’t quite a
list.

In [ ]:
range(10)

You can make it into a list by using the `list` constructor.  A constructor is
like a function, but it creates a new object, in this case a new object of type
`list`.

In [ ]:
list(range(10))

You can also set the start element for `range`:

In [ ]:
list(range(2, 7))

Use `in` to ask if a element is a collection of things, such as a range, or
a list:

In [ ]:
5 in range(2, 7)
5 in [2, 5, 7]

In [ ]:
9 in range(2, 7)

## Sets

Sets are unordered, and unique.

“Unordered” means the order is arbitrary, and Python reserves the right to
return the elements in any order it likes:

In [ ]:
our_work = set(["metacognition", "mindwandering", "perception"])
print(our_work)

If you want to get a version of the set that is ordered, use `sorted`, which
returns a sorted list:

In [ ]:
sorted(our_work)

You can't index a set, because the indices 0, or 1, or 2 don’t correspond to
any particular element (because the set is unordered):

In [ ]:
our_work[0]

Add to a set with the `add` method:

In [ ]:
our_work.add("consciousness")
print(our_work)

In [ ]:
our_work.add("consciousness")
print(our_work)
our_work.add("consciousness")
print(our_work)

You can subtract sets:

In [ ]:
competing_labs_work = set(["motor control", "decision making", "memory", "consciousness"])
what_we_should_focus_on = our_work - competing_labs_work
print(what_we_should_focus_on)

In [ ]:
what_we_should_avoid = our_work.intersection(competing_labs_work)
print(what_we_should_avoid)

Sets have lengths as well:

In [ ]:
len(what_we_should_focus_on)

## Working with strings

We have already seen strings. Here is another example.

In [ ]:
example = "mary had a little lamb"
print(example)

String slicing:

In [ ]:
example[0]

In [ ]:
example[0:4]

You can split strings with any character.  This breaks up the string,
returning a list of strings broken at the separator character:

In [ ]:
example.split(" ")

In [ ]:
example.split(" ")[4]

You can split with any character:

In [ ]:
another_example = 'one:two:three'
another_example.split(":")

You can also `strip` a string.  That returns a new string with spaces, tabs
and end of line characters removed from the beginning and end:

In [ ]:
my_string = ' a string\n'
my_string
my_string.strip()

Adding strings:

In [ ]:
example + " or two"

Putting strings into other strings:

In [ ]:
subject_id = "sub1"
print(f"Subject {subject_id} is excellent")

In [ ]:
age = 29
print(f"Subject {subject_id} is {age} years old")

You can do more complex formatting of numbers and strings using formatting
options after a `:` in the placeholder for the string.  See:
[https://docs.python.org/3.5/library/string.html#format-examples](https://docs.python.org/3.5/library/string.html#format-examples).

In [ ]:
subject_no = 4
print(f"Subject {subject_no:02d} is here")

## For loop

In [ ]:
for i in range(10):
    print(i)

Indentation is crucial!

In [ ]:
for i in range(10):
print(i)

Watch out for mistakes:

In [ ]:
for i in range(10):
    j = i + 1
print(j)

## Ifs and breaks

In [ ]:
a = 2
b = 5
c = a + b
if c < 6:
    print("yes")

In [ ]:
if c < 6:
    print("yes")
else:
    print("no")

In [ ]:
if c < 6:
    print("yes")
elif c > 6:
    print("no")
else:
    print("kind of")

In [ ]:
if True:
    print("true, true!")

In [ ]:
if False:
    print("never!")

In [ ]:
for i in range(10):
    if i == 6:
        break
    print(i)

In [ ]:
for i in range(10):
    if i == 6:
        continue
    print(i)

## Logic

You can use logical operators like `and`, `or` and `not`:

In [ ]:
strange_election = True
uncomfortable_choices = True
satisfying_experience = False
strange_election and uncomfortable_choices
strange_election and satisfying_experience
strange_election and not satisfying_experience

We often use these in `if` statements:

In [ ]:
if strange_election and not satisfying_experience:
    print('Watching a lot of news')

## Files

Use [pathlib](pathlib.Rmd) to write text and read text from files.

Write lines to a text file:

In [ ]:
from pathlib import Path

path = Path("important_notes.txt")
type(path)

In [ ]:
my_text = """captains log 672828: I had a banana for breakfast.
captains log 672829: I should watch less TV.
"""

print(my_text)

In [ ]:
path.write_text(my_text)

Read lines from a text file:

In [ ]:
text_again = path.read_text()
print(text_again)

Split the lines from a text into a list, where there is one element per line,
and each element is a string:

In [ ]:
# The splitlines method of a string.
lines = text_again.splitlines()

len(lines)
print(lines[0])
print(lines[1])

We may want to delete the file when we've finished with it.  Again the `Path` object does the job:

In [ ]:
# Delete the file.
path.unlink()