# Lists and arrays

The data structures that we use most often in data science are:

* arrays, from `numpy`;
* data frames, from `pandas`.

You have already seen that Python has a basic container for a sequence of values â€” the [list](lists).

As you have already seen, you can make a list like this:

In [ ]:
my_list = [1, 2, 3]
my_list

`[1, 2, 3]` is a *list expression*, with a open square bracket
`[`, followed by zero or more expressions defining the list
elements, separated by commas, and ending with the close square bracket `]`.

A list is of type `list`:

In [ ]:
type(my_list)

## Lists and arrays

Now we need the Numpy library for the examples:

In [ ]:
import numpy as np
# Make random number generator.
rng = np.random.default_rng()

A list is a container, like an array.  Like an array, it contains an
ordered sequence of values.  Like an array, it can be empty, or it can
contain any number of values.

You can *convert a list into an array*, like this

In [ ]:
my_list = [4, 5, 6]
my_list

In [ ]:
my_array = np.array(my_list)
my_array

In fact, you have already seen us do this, as a convenient way to
create a new array - for example:

In [ ]:
# Define a list and immediately convert to an array
another_array = np.array([10, 20, 30])
another_array

You can also *convert an array into a list*, using the `list` function:

In [ ]:
list(another_array)

Like arrays, you can *index* into a list, to get the individual values.  Consider this list:

In [ ]:
my_list = [4, 5, 6]

Like arrays (and every other kind of sequence in Python), the first element is at index (offset) 0:

In [ ]:
# Get the first value
my_list[0]

Accordingly, the third element is at index (offset) 2:

In [ ]:
# Get the third value
my_list[2]

## Differences between lists and arrays

### A list can contain a mix of types

The elements in a list can be of any type, and there can be many different types in a list.  For example, here is a list that mixes integers, floating point values, and strings.

In [ ]:
mixed_list = [1, 1.1, 'Ho ho ho']
mixed_list

The elements in an array must all be of the same type \- say \- all
numbers, or all strings.  If we now create an array from this list, Numpy will try and find a type that works for all the elements, and will convert the elements to that type:

In [ ]:
unmixed_array = np.array(mixed_list)
unmixed_array

Notice that Numpy has converted all the elements to strings, as you can see from the quotes around the values.

## A list is always one-dimensional

You have already seen that an array can have two (or more) dimensions.  Here is a two-dimensional array of random numbers:

In [ ]:
two_d_array = rng.uniform(size=[5, 3])
two_d_array

Lists only have one dimension.

### Lists can contain lists

You may be able to see a way of making a list that is rather like an
array with two dimensions.  Remember that a list can contain elements
of *any type*.  That means that a list can contain elements of type
`list`. Here is a list where the first element is also a list:

In [ ]:
small_list = [21, 22, 23]
funky_list = [small_list, 1, 1.1]
funky_list

As usual, I can get the first element of `funky_list` by indexing:

In [ ]:
element_at_0 = funky_list[0]
element_at_0

That first element is a list.  As usual, I can index in that first element too.  Here I ask for the second element from `element_at_0`:

In [ ]:
element_at_0[1]

Putting that all together in one line, I can get the second element of the first element with:

In [ ]:
funky_list[0][1]

Read this carefully from left to right.  `funky_list` is the initial
list.  The `[0]` after `funky_list` gives me the first element of that
list. The `[1]` after that, gives me the second element from the result
of the previous expressions. `funky_list[0][1]` puts several
expressions together in sequence; this is a very common pattern that
you will see often in Python programs. Learning to read them carefully
is one of the skills you will pick up, as you learn Python, and data
science.

## Appending to a list

You have already seen *methods*.  These are functions attached to
values.  For example, you have seen that a data frame, has a `count`
method, that, when called, gives the number of rows in the data frame.

Lists have several very useful methods.  One of the most useful is `append`.   Use it to append values to a list.

In [ ]:
# An empty list
my_list = []
my_list

Append a value to the empty list:

In [ ]:
my_list.append(1)
my_list

Append another value:

In [ ]:
my_list.append(1.1)
my_list

And another:

In [ ]:
my_list.append('Ho ho ho')
my_list

For some more operations with lists, see [More on
lists](more_on_lists).

## What do these square brackets mean?

You have seen two uses of square brackets on this page.

The first use, is where the opening square bracket is the start of an expression for a new list, like this:

In [ ]:
a_new_list = [1, 2, 3]

The `[` is the start of the expression, because the line above is an
assignment statement, with a variable name, followed by `=` followed by an expression.  The expression is `[1, 2, 3]`, and the `[` is the first character in the expression.

The second use, is to ask Python to get a value from another value.
Technically, this use is called *indexing*. For example, we do this
when we index into a list:

In [ ]:
first_value = a_new_list[0]

Here the `[` refers back to `a_new_list`.  It tells Python "please get
a value from `a_new_list`".  Between the `[` and the `]` is the
information that Python must use to get the value.

Here is another example of square brackets in use:

In [ ]:
my_array = np.array([1, 2, 3])

Which use of square brackets is that?  List creation, or indexing?
Why?

How about:

In [ ]:
a_new_list[0] = 99

? Why?  Or:

In [ ]:
a_new_list.append([101, 'one oh one'])

?

Remember the [data frame introduction](data_frame_intro)?  In
that you saw

```
gdp = gender_data['gdp']
```

Which use of square brackets was that?

Look through the [data frame introduction](data_frame_intro)
page.  There are several other examples of the use of square brackets.  Which use are they?

Now look at [More on arrays](More_on_Arrays).   Which uses do you see there?