# Pandas merging and SQL

In [ ]:
# Don't change this cell; just run it.
import numpy as np
import pandas as pd
# Safe setting for Pandas.  Needs Pandas version >= 1.5.
pd.set_option('mode.copy_on_write', True)
import matplotlib.pyplot as plt
# Make the plots look more fancy.
plt.style.use('fivethirtyeight')

[SQL](https://en.wikipedia.org/wiki/SQL) (pronounced "sequel") is a standard language for working with data in tables.  Among its many features, SQL can merge tables using *queries*.  SQL calls these merges - *JOINS*.

Pandas `merge` has the same behavior as SQL's `INNER JOIN`.

In [ ]:
cones = pd.DataFrame()
cones['Flavor'] = ['strawberry', 'vanilla', 'chocolate', 'strawberry',
                   'chocolate']
cones['Price'] = [3.55, 4.75, 6.55, 5.25, 5.75]
cones

In [ ]:
ratings = pd.DataFrame()
ratings['Flavor'] = ['strawberry', 'chocolate', 'vanilla']
ratings['Stars'] = [2.5, 3.5, 4]
ratings

Pandas `merge` is symmetrical - you get the same result from `cones.merge(ratings ...)` and `ratings.merge(cones ...`.

In [ ]:
# Do an Pandas merge into "cones" from "ratings"
cones.merge(ratings, on='Flavor')

In [ ]:
# Do an Pandas merge into "ratings" from "cones"
ratings.merge(cones, on='Flavor')

SQL `INNER JOIN` has the same behavior.

See:

* [Pandas to_sql documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html)
* [SQL INNER JOIN tutorial](https://www.sqlitetutorial.net/sqlite-inner-join)

In [ ]:
# Use a standard SQL library for Python
import sqlalchemy as sql
# Make a database using the basic SQLite database software
engine = sql.create_engine('sqlite://', echo=False)

In [ ]:
# Make a "connection" to the database
connection = engine.connect()

In [ ]:
# Write the data frames as tables in the SQL database.
cones.to_sql('cones', con=connection)
ratings.to_sql('ratings', con=connection)

In [ ]:
# Show that we can recover the cones data from the database.
connection.execute(sql.text("SELECT * FROM cones")).fetchall()

In [ ]:
# Show that we can recover the ratings data from the database.
connection.execute(sql.text("SELECT * FROM ratings")).fetchall()

In [ ]:
# Do an inner join into "cones" from "ratings"
cones_ratings_query = sql.text("""
SELECT *
FROM cones
INNER JOIN ratings ON ratings.Flavor = cones.Flavor
""")
connection.execute(cones_ratings_query).fetchall()

In [ ]:
# Do an inner join into "ratings" from "cones"
ratings_cones_query = sql.text("""
SELECT *
FROM ratings
INNER JOIN cones ON cones.Flavor = ratings.Flavor
""")
connection.execute(ratings_cones_query).fetchall()

Finally, we close the connection.

In [ ]:
connection.close()